In [1]:
pandas.DataFrame(data,index,colums,dtype,copy)

NameError: name 'pandas' is not defined

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [4]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
Data =['apple','mango','banana','grapes']
df=pd.DataFrame(Data)
print(df)

        0
0   apple
1   mango
2  banana
3  grapes

In [8]:
data =[['bhagya',10],['ravi',9],['Grace',8],['Kummarikuntal',7]]
df=pd.DataFrame(data,columns=['Names','Marks'])
print(df)

           Names  Marks
0         bhagya     10
1           ravi      9
2          Grace      8
3  Kummarikuntal      7

In [ ]:
# Creatind a dataFrames by using  Dictionary

In [14]:
data1={'Name':['Bhagya','morry','Kumar','Ravi'],'Percentages' :[100,90,80,70]}
df=pd.DataFrame(data1)
print(df)

     Name  Percentages
0  Bhagya          100
1   morry           90
2   Kumar           80
3    Ravi           70

In [ ]:
# Mock test

In [ ]:
# What is differences b/w Numpy and pandas

In [16]:
import numpy as np
a=np.arange(11)**2
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [37]:
import numpy as np
a=[['bhagya','laxmi','morry','grace'],
        [60,70,80,90],
        [40,50,80,90]]

In [38]:
for i in a:
    print('i=',i)

i= ['bhagya', 'laxmi', 'morry', 'grace']
i= [60, 70, 80, 90]
i= [40, 50, 80, 90]

In [40]:
for i in a.flatten():
    print(i)

AttributeError: 'list' object has no attribute 'flatten'

In [41]:
b = [['B','l','R','M','S'],
    [100,90,80,70,60],
     [80,70,60,50,40]]

In [45]:
for a in b.flatten():
    print(a)

AttributeError: 'list' object has no attribute 'flatten'

In [46]:
students = [['Bhagya','Morry','Ravi','Kumar'],
           [100,90,80,70],
           [40,80,90,60]]

In [47]:
print(students)

[['Bhagya', 'Morry', 'Ravi', 'Kumar'], [100, 90, 80, 70], [40, 80, 90, 60]]

In [53]:
for i in students():
    print('i=',i)

TypeError: 'list' object is not callable

In [54]:
students.ndim

AttributeError: 'list' object has no attribute 'ndim'